[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
rasterio = "*"
pandas = "*"
mapbox = "*"
earthengine-api = "*"
pillow = "*"
folium = "*"
geojson = "*"

[dev-packages]

[requires]
python_version = "3.9"
